#v_container{
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 240, 238);
    padding-top: 3%;
}

.view_container{
    margin: 0 5%;
    /* margin-top: 40px; */
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 3px 10px 10px rgb(179, 184, 182);
    background-color: white;
    height: 100%;
    
}
/* .view_container:hover{
    overflow: scroll;
} */
.view_topbar{
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    top: -10px; */
    background-color: white;
    padding: 10px 5% 0 20px;
    
}

.view_search{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    border-radius: 10px;
    color: rgb(135, 137, 139);
    background-color: blueviolet;
    background-color: rgb(242, 247, 245);
}
.view_search input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: inherit;
}
.view_search input::placeholder{
    color: rgb(197, 200, 204);
}
.view_grid{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--title_color);
    opacity: .8;
    gap: 10px;
}
.view_grid:nth-child(1){
    font-size: 50px;
}
.view_header{
    display: flex;
    position: sticky;
    top: -10px;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font);
    font-size: 8px;
    color: var(--title_color);
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid rgb(200, 219, 219);
    /* background-color: aqua; */
}
.view_header h1{
    width: calc(100%/4);
    /* background-color: aqua; */
}
#view_progress{
    display: flex;
    align-items: center;
    gap: 5px;
}

#view_project{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:900px) {
    #view_deadline{
        display: none;
    }
}