.project_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    font-family: var(--font);
    font-size: 14px;
    color: var(--title_color);
    padding: 10px;
    gap: 2px;
    border-bottom: 1px solid rgb(188, 197, 195);
}

.div_one{
    display: flex;
    align-items: center;
    gap: 5px;
    width: calc(100%/4);
}
.div_one span{
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    /* padding: 8px; */
    border-radius: 10px;
    line-height: 48px;
    background-color: rgb(223, 243, 42);
}
.div_one h1{
    font-family: var(--font);
    font-size: 14px;
}
.para_one{
    width: calc(100%/4);
}

.para_two{
    width: calc(100%/4);
}

/* .progress_bar{
    width: calc(100%/4);
} */

.para_three{
    width: calc(100%/4);
}

.progress{
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100%/4);
}
.progress span{
    font-size: 12px;
}
.progress_bar{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(218, 228, 236);
}
.progress_bar div{
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(116, 201, 151);
}

.para_three{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width:900px) {
    .para_three {
        display: none;
    }
}

#project_holder:hover{
    width: 100%;
    height: 100%;
    overflow: scroll;
}